<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada por muchos intentos fallidos de ingreso.</p>

<p>Clicka el siguiente link para seguir los pasos de desbloqueo de cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
